ul.menu-navigation {
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
  background-color: #6E8A4D;
  border-bottom: 1px solid #4F703B;
  border-top: 1px solid #4F703B;
  text-align: center;
  width: auto;
}

ul.menu-navigation li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 0 10px 0;
  border-top: 1px solid #4F703B;
  border-bottom: 1px solid #4F703B;
}

ul.menu-navigation li span {
  display: none;
}

ul.menu-navigation li a:hover {
  background-color: #9FBD70;
  border-top: 1px solid #4F703B;
}

ul.menu-navigation li a:hover span {
  display: block;
  font-size: 0.8em;
  background-color: white; /*#9FBD70; */
  padding: 2%;    
  color: #4F703B;
  font-weight: bold;    
}

