.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#conUs {
    margin: 2%;
}

#conUs aside {
    margin-right: 2%;
    float: left;
    width: 40%;
    height: auto;
}

#conUs address {
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

#conUs aside strong {
    color: red;
    font-size: 1.1em;
    background-color: #fff;
    padding:0 0.5em;
}

#conUs h3 {
    text-align: center;
}

#conUs .note { 
    margin: 0.5em;
    font-size: 0.8em;
    
}

#conUs section {
    width: 56%;
    float: left;
    color: dimgray; /*#fff;*/
    background-color: gainsboro; /* #4F703B; */
    margin: 0 0 2% 2%;
    
}

#conUs label {
    width: 100%;
    float: left;
	font-weight: 500;
}
#conUs input ,#conUs textarea {
    padding:3px;
    width: 100%;
    float: left;
	margin-bottom: 3px;
}
#conUs input:focus, #conUs form textarea:focus {
    border: 2px solid #4F703B; 
}

#conUs form input:valid, #conUs form textarea:valid {
    border: 2px solid #9FBd70;
}

#conUs textarea {
    height: 7em;
}

#conUs ul {
    list-style-type: none;
    margin: 0;
    padding: 0 5%
}

ul#radioList {
	margin: 0;
	padding: 0;
}
#radioList li  {
	display: inline-block;
	width: 20%;
	padding-bottom: 0;
    margin-bottom: 0;
}
#radioList label {
	text-align: center;
	font-weight: 500;
}
#conUs form li p {
	font-weight: 500;
	margin-bottom: 5px;
}

#conUs input[type="submit"] {
    border: 2px solid #fff;
    background-color: #4F703B;
    color: #fff;
    padding: .25em .8em;
    margin: .5em .5em;
    width: 126px;
    float:right;
}
.grnBtn {
    background-color: #4F703B;
}
#conUs button a {
    color: #fff;
    padding: 3px 0;
}
@media screen and (max-width: 550px) {
	#conUs aside, #conUs section {
		width: 100%;
		margin: auto;
		float: none;
	}
}